<!doctype html>
<html>

<head>
    <title>Dax's Site</title>
    <link rel="stylesheet" href="{{ '/css/index.css' }}">
</head>

<body>
    <div>
        <h1>Dax Borde</h1>
        <p>Hi. This is my website.</p>
        <footer>
            © 2021 Dax Borde<br>
            <a href="https://github.com/daxborde/personal-site/">View Source Code on Github</a>
        </footer>
    </div>
</body>

</html>